[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IsoformSwitchAnalyzeR"]
	path = IsoformSwitchAnalyzeR
	url = https://github.com/kvittingseerup/isoformswitchanalyzer
[submodule "pfamAnalyzeR"]
	path = pfamAnalyzeR
	url = https://github.com/kvittingseerup/pfamanalyzer
